<% unless @rankings.blank? %>
  <h2>Your rankings</h2>
  <ul>
    <% @rankings.each do |ranking| %>
      <li>
        <%= link_to ranking.tournament.name, ranking.tournament %> (#<%= ranking.rank %>)
      </li>
    <% end %>
  </ul>
<% else %>
  <p>It doesn't look like you have any tournaments. Try joining or creating one!</p>
<% end %>

<p><%= link_to 'Join an existing tournament', tournaments_path %> or <%= link_to 'create a new tournament', new_tournament_path %></p>
