<% unless @rankings.blank? %>
  <h2>Your rankings</h2>
  <table>
    <tr>
      <th>Tournament</th>
      <th>Rank</th>
    </tr>
    <% @rankings.each do |ranking| %>
      <tr>
        <td><%= link_to ranking.tournament.name, ranking.tournament %></td>
        <td><%= ranking.rank %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>It doesn't look like you have any tournaments. Try joining or creating one!</p>
<% end %>

<p><%= link_to 'Join an existing tournament', tournaments_path %> or <%= link_to 'create a new tournament', new_tournament_path %></p>
