<h2>Listing <%= @tournament.name %>'s matches</h2>

<% if !@matches.blank? %>
  <ul>
    <% @matches.each do |match| %>
      <li>
        <%= link_to "#{match.incumbent.display_name} vs. #{match.challenger.display_name}", tournament_match_path(@tournament, match) %>
      </li>
      <% end %>
  </ul>
<% else %>
  <p>There are currently no matches for this tournament.</p>
<% end %>

<%= link_to 'Back', tournament_path(@tournament) %>
